{% extends "base.html" %}

{% block content %}
    {% if validlink %}
        <center>
        <p>Enter a new password and confirm it</p>
        <form action="" method="post">
        {% csrf_token %}
            {% comment %} <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change password" /></td>
                </tr>
            </table> {% endcomment %}
           <div>{{ form.new_password1.errors }}</div>
           <label for="id_new_password1">New password:</label>
           <div>{{ form.new_password1 }}</div>
           <div>{{ form.new_password2.errors }}</div>
           <label for="id_new_password2">Confirm password:</label>
           <div>{{ form.new_password2 }}</div>
           <br>
           <button class="btn btn-default btn-lg" type="submit">Change password</button> 
        </form>
    {% else %}
        <h1>Failed to change password</h1>
        <p>The link is expired. Please initiate password change again</p>
    </center>
    {% endif %}
{% endblock %}