{% extends "base.html" %}

{% load i18n %}

{% block content %}

    <center>    
    <div class="content-section main-font">
        <form method="POST">
        {% csrf_token %}

        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Leave team</legend>
            <h2>Are you sure you want leave {{ team.name }} team?</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Yes, leave</button>
            <a class="btn btn-outline-secondary" href="{% url 'team_detail' pk %}">Cancel</a>
        </div>
    </form>
    </div>
    </center>
{% endblock content %}