{% extends "base.html" %}

{% block content %}
    <div class='indented main-font'>
        <div><img class="profile-picture" src="{{ player.picture.url }}"></div>
        <h1 class='secondary-font'>{{ player.n_name }}</h1>
        <br>
        <h2>Details:</h2>
        <div>User: {{ player.profile.user }}</div>
        <div>Hometown: {{ player.player_from }}</div>
        <div>Date of birth: {{ player.date_of_birth|date:'Y-m-d' }}</div>
        <div>Team: <a class='link' href="{% url 'team_detail' player.team.id %}"> {{ player.team }}</a></div>
        {% if player.team_leader == True %}
            <div><strong>{{ player.n_name }}</strong> is the leader of {{ player.team }} team</div>
        {% endif %}

        <div>
            <br>
            <h3 class='secondary-font'>Registered events:</h3>
            {% for event in player.events.all %}
                {% if event.status == 'a' %}
                    {{ event.name }}<br>
                {% endif %}
            {% endfor %}
        </div>

        <div>
            <br>
            <h3 class='secondary-font'>Events Participated:</h3>
            {% for event in player.events.all %}
                {% if event.status == 'i' %}
                    {{ event.name }}<br>
                {% endif %}
            {% endfor %}
        </div>

        <br>
        <br>
        <a class='link'style='color:beige' href="{% url 'players' %}"><div style='font-size:20px'><strong>Player list</strong></div></a>
    </div>

{% endblock %}
