{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class='indented main-font'>
<h1 class='secondary-font'>Player list</h1>
{% if players %}
<div class='item-block'>
    {% for player in players %}
    <div class='item'>
        <div class='item-pic'>
            <a href={{ player.id }}><img class="profile-picture" src="{{ player.picture.url }}"></a>
        </div>
        <div class='item-details'>
            <a class='link' style='font-size:30px' href={{ player.id }}><div> {{ player.n_name }} </div></a>    
            <div class='secondary-font'> {{ player.team }} </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div> No players yet </div>
{% endif %}
</div>

{% endblock %}
