{% extends "base.html" %}

{% block content %}
    <div class='indented main-font'>
        <div><img class="profile-picture" src="{{ player.picture.url }}"></div>
        <h1>{{ player.n_name }}</h1>
        <br>
        <h2>Details:</h2>
        <div>User: {{ player.profile.user }}</div>
        <div>Hometown: {{ player.player_from }}</div>
        <div>Date of birth: {{ player.date_of_birth|date:'Y-m-d' }}</div>
        <div>Team: <a href="{% url 'team_detail' player.team.id %}"> {{ player.team }}</a></div>
        {% if player.team_leader == True %}
            <div><strong>{{ player.n_name }}</strong> is the leader of {{ player.team }} team
        {% endif %}
        <br>
        <a href="{% url 'players' %}"><div style='font-size:20px'><strong>Player list</strong></div></a>
    </div>
{% endblock %}