{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section main-font">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <center>
        <div class="text-secondary">{{ user.username }}</div>
        <br>
        <div class="text-secondary">{{ user.email }}</div>
    </center>
    <div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class='main-profile-block'>
                {% if user.profile.is_organizer == True %}
                    <div class='profile-type-block'>
                        <h2 class="account-heading">{{ user.profile.organizer.name }}</h2>
                        <br>
                        <img class="profile-picture" src="{{ user.profile.organizer.profile_picture.url }}">

                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Organizer info</legend>
                            {{ o_form|crispy }}
                        </fieldset>

                    </div>
                {% endif %}
                {% if user.profile.is_player == True %}
                <div class='profile-type-block'>
                    <h2 class="account-heading">{{ user.profile.player.n_name }}</h2>    
                    <br>
                    <img class="profile-picture" src="{{ user.profile.player.picture.url }}">
                        
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Player info</legend>
                        {{ p_form|crispy }}
                    </fieldset>
                    <div>
                        <a class="btn btn-outline-secondary" href="{% url 'my_registered_events' %}">My registered events</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-secondary" href="{% url 'my_completed_events' %}">My participated events</a>
                    </div>
                </div>
                {% endif %}
            </div>
            <center>
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">User info</legend>
                    <div style='padding-left:30%; padding-right:30%'>
                    {{ u_form|crispy }}
                    </div>
                </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-secondary" type="submit">Update</button>
            </div>
            </center>
        </form>
    </div>    
</div>
{% endblock content %}
