{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class='indented main-font'>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if user.profile.is_player == True %}
        <div class='create-btn'><a class="btn btn-outline-info main-font" style='color:beige' href="{% url 'create_team' %}">{% trans "Create new team" %}</a></div>
    {% endif %}
    <h1 class='secondary-font'>{% trans "Team list" %}</h1>

    <center>
        <div>
            <form action="{% url 'search_teams' %}" method="get" >
            <input name="query" class="search-bar secondary-font" type="text" placeholder="{% trans "Search for teams" %}">
            </form>
        </div>
    </center>

    <div class="pagination secondary-font">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class='link' href="?page=1">&lArr;</a>
                <a class='link' href="?page={{ page_obj.previous_page_number }}">&target;</a>
            {% endif %}
        
            <span class="current">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>
        
            {% if page_obj.has_next %}
                <a class='link' href="?page={{ page_obj.next_page_number }}">&target;</a>
                <a class='link' href="?page={{ page_obj.paginator.num_pages }}"> &rArr;</a>
            {% endif %}
        </span>
    </div>
    <br>

    {% if teams %}
    <div>
        {% for team in teams %}
        <div><img class="profile-picture" src="{{ team.emblem.url }}"></div>
        <a class='link' href={{ team.id }}><div> {{ team.name }} </div></a>
        <br>
        {% endfor %}
    </div>
    {% else %}
    <div> {% trans "No teams yet" %} </div>
    {% endif %}
    
    <br>
    <div class="pagination secondary-font">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class='link' href="?page=1">&lArr;</a>
                <a class='link' href="?page={{ page_obj.previous_page_number }}">&target;</a>
            {% endif %}
        
            <span class="current">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>
        
            {% if page_obj.has_next %}
                <a class='link' href="?page={{ page_obj.next_page_number }}">&target;</a>
                <a class='link' href="?page={{ page_obj.paginator.num_pages }}"> &rArr;</a>
            {% endif %}
        </span>
    </div>
    
</div>

{% endblock %}
