{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class='indented main-font'>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if user.profile.is_player == True %}
        <div class='create-btn'><a class="btn btn-outline-info main-font" style='color:beige' href="{% url 'create_team' %}">{% trans "Create new team" %}</a></div>
    {% endif %}
    <h1>Team list</h1>
    {% if teams %}
    <div>
        {% for team in teams %}
        <a href={{ team.id }}><div> {{ team.name }} </div></a>
        <br>
        {% endfor %}
    </div>
    {% else %}
    <div> No teams yet </div>
    {% endif %}
</div>

{% endblock %}
