.indented{
    padding-left: 5%;
    padding: 2%;
}

.profile-picture{
    width: 200px;
    height: 200px;
    border-radius: 15%;
}

.main-profile-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.profile-type-block{
    display: flex;
    flex-direction: column;
    gap: 1px;
    justify-content: center;
    align-items: center;
}