<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>AirsoftEventsLT</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> 

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
{% load i18n %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
  <div class="container">
    <a class="navbar-brand nice-text-nav" href="about">
    <img src={% static 'media/airsoft_icon.png' %} alt='shooter icon' width="50" height="40">
    AirsoftEventsLT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto nice-text-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'events_index' %}">{% trans "Home" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'event_list' %}">{% trans "Events" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'organizer_list' %}">{% trans "Organizers" %}</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'field_list' %}">{% trans "Fields" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'teams' %}">{% trans "Teams" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'players' %}">{% trans "Players" %}</a>
          </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}"><strong>{% trans "Logout" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">{{ user.get_username }}</strong></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">{% trans "Login" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register'%}">{% trans "Register" %}</a>
        </li>
        {% endif %}
        {% comment %} <li>
          <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-md-0">
          <input name="query" class="nav-item" style='height:30px; border:none; margin-top:15px; border-radius:4px' type="text" placeholder={% trans "Search" %}>
          </form>
        </li> {% endcomment %}
        {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'my_order_new'%}?next=/autoshop">{% trans "New" %}</a></li> {% endcomment %}
      </ul>
        <ul class="navbar-nav ml-auto">
    </div>
  </div>
</nav>

{% comment %} <div>
  {% load i18n %}
  <form class='lang-select' action="{% url 'set_language' %}" method="post">
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ redirect_to }}"/>
  <select class='lang-select-fields' name="language">
  {% get_current_language as LANGUAGE_CODE %}
  {% get_available_languages as LANGUAGES %}
  {% for lang in LANGUAGES %}
  <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected" {% endif %}>
  {{ lang.1 }} ({{ lang.0 }})
  </option>
  {% endfor %}
</select>
<input class='lang-select-fields-btn' type="submit" value="{% trans 'CHANGE' %}"/>
</form>
</div> {% endcomment %}


  <div class="content-container gradient-background">
    {% block content %}{% endblock %}
  </div>
  
  <div class="content-container gradient-background-reverse" style='height:40vh'>
  

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </body>
</html>