{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class='indented'>
<h1>Event list</h1>

{% if events %}
<div>
    {% for event in events %}
    
    <a href={{ event.id }} <div> {{ event.name }} ({{ event.date|date:"Y-m-d" }}) </div></a>
    <div> 
        <div> {{ event.field }} </div>
        <div><strong> Created by:</strong> {{ event.organizer }}</div>
    
    <hr>
    {% endfor %}
</div>
{% else %}
<div> No events yet </div>
{% endif %}
{% if user.profile.is_organizer == True %}

    <div><a href="{% url 'organizer_events'%}">{% trans "My events" %}</a></div>
    <button><a href="{% url 'create_event' %}">Create new event</a></button>

{% endif %}
</div>

{% endblock %}