{% extends "base.html" %}
{% load i18n %}
{% block content %}

{% if user.profile.is_organizer == True %}
<div class='create-btn'><a class="btn btn-outline-info main-font" style='color:beige' href="{% url 'create_field' %}">{% trans "Create new field" %}</a></div>
{% endif %}

<div class='indented main-font'>
<h1 class='secondary-font'>Field list</h1>
{% if fields %}
<div>
    {% for field in fields %}
    <a class='link' href={{ field.id }}><div> {{ field.name }} </div></a>
    <hr>
    {% endfor %}
</div>
{% else %}
<div> No fields yet </div>
{% endif %}

{% if user.profile.is_organizer == True %}
    <a class="btn btn-outline-secondary" href="{% url 'organizer_fields' %}">{% trans "My added fields" %}</a>
{% endif %}

</div>

{% endblock %}