{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class='main-font'>
    <center>
        <div>
        {% if events %}

            <h1 class='secondary-font'>Events this month</h1>

            {% for event in events %}
                {% if event.is_active != True %}
                    <div style='width:10%'>
                    {% if event.date.month == current_month %}
                    <a class='link' href="{% url 'event_detail' event.id %}"><div>{{ event }}</div></a>
                    <br>
                    {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

        {% else %}

        <h1>No events this month</h1>

        {% endif %}
        </div>
    </center>
    <hr>
    <div style='padding-top:30px'>
        <center>
        <h2 class='secondary-font'>Our partners</h2>
        </center>

        <div class='indented links'>
        <a href="https://sratas.lt/" target="_blank"><button class="contact-btn" style="background-image: url(../static/media/sratas.png)"></button></a>
        <a href="https://gunfire.com/" target="_blank"><button class="contact-btn" style="background-image: url(../static/media/gunfire.png)"></button></a>
        <a href="https://www.airsoftas.lt/" target="_blank"><button class="contact-btn" style="background-image: url(../static/media/airsoftas.png)"></button></a>
        <a href="https://mfrontas.lt/" target="_blank"><button class="contact-btn" style="background-image: url(../static/media/MusioFrontas.png)"></button></a>
        <a href="https://karinespramogos.lt" target="_blank"><button class="contact-btn" style="background-image: url(../static/media/karinesPramogos.png)"></button></a>

        </div>
    </div>
</div>
{% endblock %}