{% extends "base.html" %}

{% block content %}
    <div class='indented'>
        <h1>My Events</h1>
    {% if events %}

    {% for event in events %}
        <hr>
        <div><strong>{{ event.name }}</strong></div>
        <div><strong>Date:</strong> {{ event.date|date:"Y-m-d" }}</div>
        
        <br/>
        <a class="btn btn-primary" href="{% url 'organizer_event' event.pk %}" role="button">See more</a>
    {% endfor %}

    {% else %}
        <p>There are no events created</p>
    {% endif %}
    </div>
{% endblock %}