{% extends "base.html" %}
{% load i18n %}
{% block content %}

    <div class='indented main-font'>
        <h1>{% trans "My added fields" %}</h1>

        <div class="pagination secondary-font">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class='link' href="?page=1">&lArr;</a>
                    <a class='link' href="?page={{ page_obj.previous_page_number }}">&target;</a>
                {% endif %}
            
                <span class="current">
                    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                </span>
            
                {% if page_obj.has_next %}
                    <a class='link' href="?page={{ page_obj.next_page_number }}">&target;</a>
                    <a class='link' href="?page={{ page_obj.paginator.num_pages }}"> &rArr;</a>
                {% endif %}
            </span>
        </div>
        <br> 

    {% if fields %}

    {% for field in fields %}
        <hr>
        <div><strong>{{ field.name }}</strong></div>
        <br/>
        <a class="btn btn-outline-info" href="{% url 'organizer_field' field.pk %}" role="button">{% trans "See more" %}</a>
    {% endfor %}

    {% else %}
        <p>{% trans "There are no fields created" %}</p>
    {% endif %}
    
    <br>
    <div class="pagination secondary-font">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class='link' href="?page=1">&lArr;</a>
                <a class='link' href="?page={{ page_obj.previous_page_number }}">&target;</a>
            {% endif %}
        
            <span class="current">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>
        
            {% if page_obj.has_next %}
                <a class='link' href="?page={{ page_obj.next_page_number }}">&target;</a>
                <a class='link' href="?page={{ page_obj.paginator.num_pages }}"> &rArr;</a>
            {% endif %}
        </span>
    </div>
    
</div>
{% endblock %}