{% extends "base.html" %}

{% block content %}
    <div class='indented main-font'>
        <h1>{{ field.name }}</h1>
        <br>
        <div><strong>Coordinates:</strong> {{ field.location_long }}, {{ field.location_lat }}</div>
        <hr>
        <div><strong>Description:</strong> {{ field.description|safe }}</div>
        <hr>
        <div>Field map:</div>
        <div><img src={{ field.field_map.url }} width="600" height="450"></div>
        <div>Location on map:</div>
        
        <iframe width="600" height="450" 
            style="border:0" loading="lazy" 
            allowfullscreen 
            src="https://www.google.com/maps/embed/v1/view?zoom=17&center={{ field.location_long }},{{ field.location_lat }}&maptype=satellite&key={{ field.get_api_key }}">
        </iframe>

        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update_field' field.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete_field' field.id %}">Delete</a>
        </div>

    </div>
{% endblock %}
