{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class='indented main-font'>
<h1 class='secondary-font'>{% trans "Organizer list" %}</h1>
<hr>
<hr>
{% if organizers %}
<div>
    {% for organizer in organizers %}
    <a class='link' href={{organizer.id}}>
        <img class="profile-picture" src="{{ organizer.profile_picture.url }}">
        <div style='font-size:25px'> {{ organizer.name }} </div>
    </a>
    <hr>
    {% if organizer.description|length > 65 %}
        <div class='secondary-font' style='font-size:15px'> {{ organizer.description|safe|slice:65 }}... </div>
    {% else %}
        <div class='secondary-font' style='font-size:15px'> {{ organizer.description|safe }} </div>
    {% endif %}
    <hr>
    <p style="border-top: dotted 3px;color: lightgrey;"></p>
    <p style="border-top: dotted 3px;color: lightgrey;"></p>
    {% endfor %}
</div>
{% else %}
<div> {% trans "No organizers yet" %} </div>
{% endif %}
</div>

{% endblock %}
