{% extends "base.html" %}

{% block content %}
    <div class='indented main-font'>
        <h1 class='secondary-font'>{{ event.name }}</h1>
        <small>Created on: {{ event.created_on|date:"Y-m-d" }}</small>

        <br>
        <div><strong>Date:</strong> {{ event.date|date:"Y-m-d H:i" }}</a></div>
        <div><strong>Organizer:</strong><a class='link' href="{% url 'organizer_detail' event.organizer.pk %}">{{ event.organizer }}</a></div>
        <div><strong>Field:</strong><a class='link' href="{% url 'field_detail' event.field.pk %}">{{ event.field }}</a></div>
        <hr>
        <div class='secondary-font'><strong>Description:</strong> {{ event.description|safe }}</div>
        <hr>
        <div>Maximum number of players: {{ event.max_players }}</div>
        {% if event.registered_players.count != 0 %}
            <div>Registered players: {{ event.registered_players.count }}</div>
        {% else %}
            <div>No registered players yet</div>
        {% endif %}
        <div>Price: {{ event.price }} €</div>
        <hr>
        <div><a class='link' href={% url 'my_registered_events' %}>Back to my registered events</a></div>
    </div>
{% endblock %}