{% extends "base.html" %}

{% load i18n %}

{% block content %}

    <center>    
    <div class="content-section main-font">
        <form method="POST">
        {% csrf_token %}

        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Register to event</legend>
            <h2>Are you sure you want register to {{ event.name }} event?</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Register</button>
            <a class="btn btn-outline-secondary" href="{% url 'event_detail' event.pk %}">Cancel</a>
        </div>
    </form>
    </div>
    </center>
{% endblock content %}